In [1]:
import pandas as pd

##### .apply()
- df.apply(func, axis = 0 or 1)
- 행이나 열단위로 더 복잡한 처리를 하고 싶을 때 사용
- Pandas의 객체에 다른 라이브러리 함수를 적용하는 방법
- Pandas의 객체에 열 혹은 행에 대해 함수를 적용하게 해주는 방법

In [2]:
data_dic = {'A' : [1,3,3,4,4], 'B' : [1,2,2,3,3], 'C':[1,2,4,4,5]}
df=pd.DataFrame(data_dic)
df

   A  B  C
0  1  1  1
1  3  2  2
2  3  2  4
3  4  3  4
4  4  3  5

In [3]:
#apply를 사용하여 각 열에 대해 어떤 값이 얼마나 사용되었는지 알아보자
df2 = df.apply(pd.value_counts)
df2

     A    B    C
1  1.0  1.0  1.0
2  NaN  2.0  1.0
3  2.0  2.0  NaN
4  2.0  NaN  2.0
5  NaN  NaN  1.0