In [1]:
import numpy as np
import pandas as pd
import random

In [6]:
score = pd.read_csv('score.csv', encoding = 'euc-kr')
score

    과목  1반  2반  3반  4반
0  파이썬  45  44  73  39
1   DB  76  92  45  69
2   자바  47  92  45  69
3  크롤링  92  81  85  40
4  Web  11  79  47  26