In [28]:
import pandas as pd
import numpy as np

In [29]:
df= pd.read_csv('games.csv', index_col = 'gameId', encoding = 'cp949')
df

,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
gameId,,,,,,,,,,,,,,,,,,,,,
3326086514,1504279457970,1949,9,1,2,1,1,1,1,2,...,5,0,0,1,1,114,67,43,16,51
3229566029,1497848803862,1851,9,1,1,1,1,0,1,1,...,2,0,0,0,0,11,67,238,51,420
3327363504,1504360103310,1493,9,1,2,1,1,1,2,0,...,2,0,0,1,0,157,238,121,57,28
3326856598,1504348503996,1758,9,1,1,1,1,1,1,0,...,0,0,0,0,0,164,18,141,40,51
3330080762,1504554410899,2094,9,1,2,1,1,1,1,0,...,3,0,0,1,0,86,11,201,122,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3308904636,1503076540231,1944,9,2,1,2,2,0,2,0,...,10,2,0,4,0,55,-1,90,238,157
3215685759,1496957179355,3304,9,2,1,1,2,2,2,2,...,11,7,4,4,1,157,55,119,154,105
3322765040,1504029863961,2156,9,2,2,2,2,0,1,0,...,10,2,0,2,0,113,122,53,11,157
3256675373,1499562036246,1475,9,2,2,2,2,0,2,0,...,11,3,0,1,0,154,39,51,90,114
3317333020,1503612754059,1445,9,1,1,1,1,1,2,0,...,1,0,0,1,0,11,157,141,31,18

In [30]:
#상위 데이터 몇개만 보고 싶을 때
df.head(20)

,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
gameId,,,,,,,,,,,,,,,,,,,,,
3326086514,1504279457970,1949,9,1,2,1,1,1,1,2,...,5,0,0,1,1,114,67,43,16,51
3229566029,1497848803862,1851,9,1,1,1,1,0,1,1,...,2,0,0,0,0,11,67,238,51,420
3327363504,1504360103310,1493,9,1,2,1,1,1,2,0,...,2,0,0,1,0,157,238,121,57,28
3326856598,1504348503996,1758,9,1,1,1,1,1,1,0,...,0,0,0,0,0,164,18,141,40,51
3330080762,1504554410899,2094,9,1,2,1,1,1,1,0,...,3,0,0,1,0,86,11,201,122,18
3287435705,1501667992132,2059,9,1,2,2,1,1,2,0,...,6,0,0,3,0,119,134,154,63,31
3314215542,1503430065724,1993,9,1,1,2,1,1,1,1,...,2,0,0,0,0,75,42,31,40,429
3329224025,1504472363684,1334,9,1,1,1,0,0,2,1,...,0,0,0,2,0,157,38,122,40,238
3318040883,1503686577549,1387,9,2,2,2,2,0,2,2,...,8,1,0,2,1,28,51,53,157,40
3327786881,1504385918871,2681,9,2,2,2,2,2,2,0,...,8,3,1,2,0,64,141,84,67,53
3325996400,1504273919929,1391,9,2,2,2,2,2,2,2,...,10,2,1,1,1,19,74,122,59,412
3284613292,1501452879926,1671,9,1,1,2,1,0,2,1,...,2,0,0,2,0,103,154,412,6,64
3321570535,1503947039120,2071,9,1,1,1,0,1,2,1,...,3,0,0,1,0,143,64,254,53,122
3323144943,1504057872709,1942,9,1,2,2,1,0,1,0,...,3,0,0,2,0,154,498,117,141,19
3329332855,1504479222082,2374,9,2,2,2,1,1,2,0,...,9,2,0,2,0,31,67,202,53,119
3322311228,1503994240897,1717,9,1,2,1,1,0,1,0,...,0,0,0,0,0,53,117,141,122,157
3316242660,1503574693354,2390,9,2,2,2,2,2,2,0,...,9,3,2,4,0,18,134,53,420,29
3330057565,1504555731094,1994,9,1,2,1,1,1,1,1,...,2,0,0,0,0,141,1,11,29,122
3318940474,1503749118008,1513,9,2,1,2,2,0,2,0,...,11,3,0,2,0,31,141,119,122,238
3320637674,1503859605802,1898,9,2,1,2,2,2,1,1,...,11,2,1,1,0,117,54,113,157,40

In [31]:
#행과 열이 몇개인지 알고싶을 때
df.shape

(51490, 60)

In [32]:
#칼럼명만 뽑아오고 싶을 때 - index형태로 출력
df.columns

Index(['creationTime', 'gameDuration', 'seasonId', 'winner', 'firstBlood',
       'firstTower', 'firstInhibitor', 'firstBaron', 'firstDragon',
       'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1', 't1_champ1_sum2',
       't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2', 't1_champ3id',
       't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id', 't1_champ4_sum1',
       't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1', 't1_champ5_sum2',
       't1_towerKills', 't1_inhibitorKills', 't1_baronKills', 't1_dragonKills',
       't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3', 't1_ban4',
       't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

In [33]:
#6번째 칼럼명을 출력해주기
df.columns[5]

'firstTower'

In [34]:
#칼럼명만 뽑아오고 싶을 때 - array형태로 출력
df.columns.values

array(['creationTime', 'gameDuration', 'seasonId', 'winner', 'firstBlood',
       'firstTower', 'firstInhibitor', 'firstBaron', 'firstDragon',
       'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1',
       't1_champ2_sum2', 't1_champ3id', 't1_champ3_sum1',
       't1_champ3_sum2', 't1_champ4id', 't1_champ4_sum1',
       't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills',
       't1_baronKills', 't1_dragonKills', 't1_riftHeraldKills', 't1_ban1',
       't1_ban2', 't1_ban3', 't1_ban4', 't1_ban5', 't2_champ1id',
       't2_champ1_sum1', 't2_champ1_sum2', 't2_champ2id',
       't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id',
       't2_champ4_sum1', 't2_champ4_sum2', 't2_champ5id',
       't2_champ5_sum1', 't2_champ5_sum2', 't2_towerKills',
       't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'], dtype=object)

In [39]:
#6번째 칼럼의 데이터 타입을 출력해주세요
df.iloc[:,5].dtype

dtype('int64')

In [40]:
#인덱스 구성 - 인덱스를 gameId로 설정했기 때문에 gameId에 해당하는 행 이름 출력해줌
df.index

Int64Index([3326086514, 3229566029, 3327363504, 3326856598, 3330080762,
            3287435705, 3314215542, 3329224025, 3318040883, 3327786881,
            ...
            3323042180, 3269295840, 3320507859, 3328393516, 3316694929,
            3308904636, 3215685759, 3322765040, 3256675373, 3317333020],
           dtype='int64', name='gameId', length=51490)